<div class="p-4">
    <h4 class="fst-italic">Événements</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a href="#" class="text-decoration-none">Chasse au trésor de Pâque</a>
        </li>
        <li>
            <a href="#" class="text-decoration-none">Kermesse</a>
        </li>
    </ol>
</div>