<div class="p-4 mb-3 rounded shadow" style="background-color: #6edff6">
    <h4 class="fst-italic">Informations</h4>
    <p class="mb-0">
        Ici on affiche un message de l'ape ou de l'école
    </p>
</div>